.hero-section {
    position: relative; /* Necessário para posicionar o overlay */
    background-image: url('../img/silvioimg/inicial.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Preto semi-transparente */
    z-index: 1; /* Fica atrás do texto */
}

.hero-section h1 {
    position: relative;
    z-index: 2; /* Texto fica na frente */
}

.fakeimg {
    height: 350px;
    background-image: url('../img/silvioimg/silvio1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}